<!doctype html>
<html>
<head>
    <style>
        .btn{
            color:white;
            background-color:#0175D8;
            border: 2px solid #0175D8;
            padding: 12px 28px;
            border-radius:12px ! important;
        }
        a{
            text-decoration:None;
        }
    </style>
</head>
<body>
{% load i18n %}
{% blocktrans %}
<h1>Hello,</h1>

<h3>Reset your password on {{ domain }} for {{ user.get_short_name }} with email {{ user }}</h3>:
{% endblocktrans %}

{% block reset_link %}
<h2><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><button class="btn">Reset Your password</button></a></h2>

{% endblock %}
</body>
</html>